app/step-functions-templates/ready_event_to_icav2_wes_request_event_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save env vars",
  "States": {
    "Save env vars": {
      "Type": "Pass",
      "Next": "Is bam",
      "Assign": {
        "readyEventDetail": "{% $states.input %}",
        "inputs": "{% $states.input.payload.data.inputs %}",
        "tags": "{% $states.input.payload.data.tags %}",
        "engineParameters": "{% $states.input.payload.data.engineParameters %}"
      }
    },
    "Is bam": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Get rgid groupings",
          "Condition": "{% $tags.fromBam ? true : false %}",
          "Comment": "Is Bam file"
        }
      ],
      "Default": "Decompress ORAs"
    },
    "Get rgid groupings": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "${__get_fastq_list_rows_from_bam_cluster__}",
        "TaskDefinition": "${__get_fastq_list_rows_from_bam_task_definition__}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": "{% $split('${__get_fastq_list_rows_from_bam_subnets__}', ',') %}",
            "SecurityGroups": "{% [ '${__get_fastq_list_rows_from_bam_security_group__}' ] %}"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "${__get_fastq_list_rows_from_bam_container_name__}",
              "Environment": [
                {
                  "Name": "BAM_URI",
                  "Value": "{% $inputs.bamUri %}"
                },
                {
                  "Name": "OUTPUT_URI",
                  "Value": "{% $engineParameters.cacheUri & 'fastq_list.jsonl' %}"
                }
              ]
            }
          ]
        }
      },
      "Next": "Wait for ICAv2 to catch up to file creation"
    },
    "Wait for ICAv2 to catch up to file creation": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Collect readcount stat outputs"
    },
    "Collect readcount stat outputs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "fastqList": "{% $states.result.Payload.fastqList %}"
      },
      "Arguments": {
        "FunctionName": "${__collect_read_count_stats_lambda_function_arn__}",
        "Payload": {
          "jsonlPath": "{% $engineParameters.cacheUri & 'fastq_list.jsonl' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "For each read group / file size"
    },
    "For each read group / file size": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Write bam to fastq",
        "States": {
          "Write bam to fastq": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Arguments": {
              "LaunchType": "FARGATE",
              "Cluster": "${__bam_to_fastq_cluster__}",
              "TaskDefinition": "${__bam_to_fastq_task_definition__}",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": "{% $split('${__bam_to_fastq_subnets__}', ',') %}",
                  "SecurityGroups": "{% [ '${__bam_to_fastq_security_group__}' ] %}"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "${__bam_to_fastq_container_name__}",
                    "Environment": [
                      {
                        "Name": "BAM_FILE",
                        "Value": "{% $inputs.bamUri %}"
                      },
                      {
                        "Name": "READ_GROUP_ID",
                        "Value": "{% $states.input.rgid %}"
                      },
                      {
                        "Name": "READ_COUNT",
                        "Value": "{% $states.input.readCount ~> $string %}"
                      },
                      {
                        "Name": "IS_PAIRED_END",
                        "Value": "{% $states.input.isPairedEnd ~> $string %}"
                      },
                      {
                        "Name": "FASTQ_OUTPUT_URI",
                        "Value": "{% $engineParameters.cacheUri & 'fastq/' & ($states.input.lane ~> $string) & '/fastq.r1.gz'  %}"
                      },
                      {
                        "Name": "FASTQ_OUTPUT_2_URI",
                        "Value": "{% $states.input.isPairedEnd ? $engineParameters.cacheUri & 'fastq/' & ($states.input.lane ~> $string) & '/fastq.r2.gz' : '' %}"
                      }
                    ]
                  }
                ]
              }
            },
            "Output": {
              "rgid": "{% $states.input.rgid %}",
              "rgsm": "{% $inputs.sampleId %}",
              "rglb": "{% $tags.libraryId %}",
              "lane": "{% $states.input.lane %}",
              "read1FileUri": "{% $engineParameters.cacheUri & 'fastq/' & ($states.input.lane ~> $string) & '/fastq.r1.gz' %}",
              "read2FileUri": "{% $states.input.isPairedEnd ? $engineParameters.cacheUri & 'fastq/' & ($states.input.lane ~> $string) & '/fastq.r2.gz' : null %}"
            },
            "End": true
          }
        }
      },
      "Next": "Convert ready event data inputs to icav2 wes event inputs",
      "Items": "{% $states.input.fastqList %}",
      "Output": {
        "fastqListRows": "{% [ $states.result ~> $merge ] %}"
      }
    },
    "Decompress ORAs": {
      "Type": "Parallel",
      "Next": "Convert ready event data inputs to icav2 wes event inputs",
      "Branches": [
        {
          "StartAt": "Get fastq ids from fastq rgids",
          "States": {
            "Get fastq ids from fastq rgids": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_id_list_from_fastq_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% [ $inputs.fastqListRows.(rgid) ] %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Output": {
                "fastqIdList": "{% $states.result.Payload.fastqIdList %}"
              },
              "Next": "Decompress ORA Files"
            },
            "Decompress ORA Files": {
              "Type": "Task",
              "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
              "Arguments": {
                "Entries": [
                  {
                    "Detail": {
                      "taskToken": "{% $states.context.Task.Token %}",
                      "payload": {
                        "fastqIdList": "{% $states.input.fastqIdList %}",
                        "outputUriPrefix": "{% $engineParameters.cacheUri %}"
                      }
                    },
                    "DetailType": "${__decompress_ora_files_sync_detail_type__}",
                    "EventBusName": "${__event_bus_name__}",
                    "Source": "${__stack_source__}"
                  }
                ]
              },
              "Output": {
                "decompressedFileList": "{% $states.result.decompressedFileList %}"
              },
              "Next": "Convert fastq list rows to cache uri"
            },
            "Convert fastq list rows to cache uri": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__convert_fastq_list_rows_object_to_cache_uri_lambda_function_arn__}",
                "Payload": {
                  "decompressedFileList": "{% $states.input.decompressedFileList %}",
                  "fastqListRows": "{% $inputs.fastqListRows %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Output": {
                "fastqListRows": "{% $states.result.Payload.fastqListRows %}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Pass",
          "States": {
            "Pass": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Output": {
        "fastqListRows": "{% $states.result[0].fastqListRows %}"
      }
    },
    "Convert ready event data inputs to icav2 wes event inputs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__convert_ready_event_inputs_to_icav2_wes_event_inputs_lambda_function_arn__}",
        "Payload": {
          "inputs": "{% /* Merge in new fastq list rows */ $merge([ $inputs, $states.input ]) %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "inputs": "{% $states.result.Payload.inputs %}"
      },
      "Next": "Put ICAv2 WES Event"
    },
    "Put ICAv2 WES Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% {\n  'name': $readyEventDetail.workflowRunName,\n  'inputs': $inputs,\n  'engineParameters': $readyEventDetail.payload.data.engineParameters,\n  'tags': (\n    [\n      $readyEventDetail.payload.data.tags,\n      { \n        'portalRunId': $readyEventDetail.portalRunId\n      }\n    ] ~> $merge\n  )\n} %}",
            "DetailType": "${__icav2_wes_request_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
